<section class="ms-4 mx-4">
    <!--for demo wrap-->
    <div class="d-flex justify-content-center align-items-center">
      <div class="d-inline-flex">
        <h1>Categorias</h1>
        <button class="f-button blue" style="float: right;"  (click)="createDialog()">Agregar categoria</button>
        <!-- SVG Sprites-->
        <svg class="sprites">
          <symbol id="select-arrow-down" viewbox="0 0 10 6">
            <polyline points="1 1 5 5 9 1"></polyline>
          </symbol>
        </svg>
      </div>
    </div>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Editar</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          <tr *ngFor="let categoria of categories">
            <td>{{categoria.id}}</td>
            <td>{{categoria.name}}</td>
            <td><button class="f-button green" (click)="editDialog(categoria)" >Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  
  
  