

.login-card {
    border-radius: 15px !important;
    border: 3px !important;
}







.image_container {
    width: 100%;
    height: 100%;;
    background-image: url('../../../assets/images/login.jfif');
    background-size:cover;
    background-position:center;
}