

.login-card {
    border-radius: 15px !important;
    border: 3px !important;
}


.input-container{
	position:relative;
	margin-bottom:25px;
}
.input-container label{
	position:absolute;
	top:0px;
	left:0px;
	font-size:16px;
	color:#d38254;	
    pointer-event:none;
	transition: all 0.2s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #d38254;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #d38254;	
}
.input-container input:focus ~ label{
  top:-12px;
  font-size:12px;
}

.input-container input:valid ~ label{
  top:-12px;
  font-size:12px;
}




.image_container {
    width: 100%;
    height: 100%;;
    background-image: url('../../../assets/images/login.jfif');
    background-size:cover;
    background-position:center;
}