
<div class="d-flex justify-content-center bg-secondary">
    <h1>Pagar pedido</h1>
</div>
<div class="base-container">
    <div class="d-flex justify-content-center items" style="width:100%">
        <div class="col-8 ms-5">
            <div class="row">
                <hr class="small">
            </div>
            <div class="d-grid" style="height: 100%;">

                <div class="row" style="width: 100%" *ngFor="let order of orders">
                    <div class="col-4">
                        <img src="{{'GlobalWebBAck/images/'+order.product.image}}" height="80px">
                    </div>
                    <div class="col-5">
                        <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
                            {{order.productName}}
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="d-flex justify-content-end align-items-center" style="height: 100%;">
                            <div class="d-grid">                               
                                <div class="d-flex  align-items-end" style="height: 100%;">
                                    <div>
                                        {{order.amount}} X {{formatCurr(order.product.price)}}
                                    </div>
                                </div>    
                            </div>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-5">
                        
                    </div>

                    <div class="col-2">
                        <div class="d-flex justify-content-end align-items-center" style="height: 100%;">
                            <div class="d-grid">                               
                                <div class="d-flex  align-items-end" style="height: 100%;">
                                    <div>
                                        Total: {{formatCurr(total)}}
                                    </div>
                                </div>    
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                <div class="d-flex justify-content-center align-items-center" style="width: 100%;">
                    <div class="d-grid" style="width: 60%;" [formGroup]="formData">
                        <div class="input-container">		
                            <input formControlName="address" type="text" required=""/>
                            <label>Direccion </label>
                        </div>
                        <div class="input-container" style="width: 40%;">		
                            <input formControlName="card" type="number" required=""/>
                            <label>Numero de Tarjeta</label>
                        </div>
                        <div class="input-container" style="width: 20%;">		
                            <input formControlName="cardDate" type="text" required=""/>
                            <label>Expiracion</label>
                        </div>
                        <div class="input-container" style="width: 20%;">		
                            <input formControlName="cvv" type="number" required=""/>
                            <label>CVV</label>
                        </div>
                        <button class="f-button green" (click)="postPurchase()">Procesar Pago</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



