
<div class="d-flex justify-content-center bg-secondary">
    <h1>Categorias de productos</h1>
</div>
<div class="base-container">
    <div class="row mt-5" style="width:100%">
        <div class="col-3">
            <div class="row mb-3  category-menu" *ngFor="let item of categories">
                <h2 class="mb-3" [ngClass]="{'selected' : item.name == selectedCatalog}" (click)="changeProducts(item)">{{item.name}}</h2>
                <hr class="small">
            </div>
        </div>
        <div class="col-8 ms-5">
            <div class="row">
                <hr class="small">
            </div>
            <div class="row" style="height: 100%;">
                <div class="col-4 mb-4"  *ngFor="let prod of products">
                    <div class="bg-secondary" style="height:300px" >
                        <div class="product-image">
                            <img src="{{'http://10.0.0.12/GlobalWebBAck/images/'+prod.image}}" style="max-width: 300px;">
                        </div>
                        <div class="information d-flex justify-content-center align-items-center">
                            <div class="interaction d-flex">
                                <button class="round-btn">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
                                </button>
                                <button class="round-btn ms-2" (click)="addOrder(prod)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <h2>
                        {{prod.name}}
                    </h2>
                    <h4>
                        {{formatCurr(prod.price)}}
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>

<app-cart *ngIf="cartOpened">

</app-cart>

